<html>

  <head>
    <title>Welcome</title>
  </head>

  <body>
    <% if flash[:success] %>
    <div class="alert alert-success" role="alert"><%= flash[:success] %></div>
    <% end %>
    <h1 class="text-center"><center>Bienvenue <%= params[:id] %>!<br/> Voici notre super site de potins, il est chouette, non ?</h1><br/><br/>
    <h2 class="text-center"> Tu peux les checker si tu veux! </h2><br/><center>
    <a href="/gossips/new" class="btn btn-outline-danger">New</a></br></br>
    <div class="container">
      <div class="row">
        <% @gossips.each do |gossip| %>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;"><center>
              <div class="bg-light">
                <div class="card-body">
                  <h5 class="text-warning" class="card-title"><%= gossip.user.first_name %></h5>
                  <p class="card-text"><b><%= gossip.title %></b></p>
                  <a href="/static_pages/gossipdetails/<%= gossip.id %>" class="btn btn-outline-danger">Voir plus</a>
                </div>
              </div>
            </div></br>
          </div>
        <% end %>
      </div>
    </div>
  </body>

  <footer class="page-footer font-small grey">
    <div class="text-danger" class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/" class="text-danger"> Made with ♥ by Noé & Gauthier </a>
    </div></br>
  </footer>

</html>
